.creation-manager-wrapper {
    display: grid;
    height: 700px;
    grid-template-rows: 1fr 1fr;

    .lower-part-wrapper {
        height: 500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}