h2 {
    padding-top: 25px;
}

.homepage-wrapper {
    display: grid;
    grid-template-rows: 1fr 2fr;
    justify-content: center;
    align-items: center;

    .filter {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        button {
            @include button-style;
        }
    }

    .items-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        justify-items: center;
        align-items: stretch;

        .link>a {
            @include link-style;
        }

    }
}